/* .newsletter-container {
    background: var(--lightgrey);
} */

.newsletter {
    color: var(--mustard);
    font-size: 2rem;
    margin-bottom: 0;
}

.newsletter-p {
    color: var(--darkgrey);
    margin-bottom: 50px !important;
    margin-top: 20px !important;
}


.newsletter-form {
    display: inline;
    margin: 30px!important;
}

.hidden {
    display: '';
}

.show {
    display: block;
    color: var(--darkgrey);
    font-size: 2rem;
}